* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 75vw;
    height: 100vh;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 6rem;
}

main {
    margin-top: 10vh;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.9rem;
    text-align: justify;
    margin-bottom: 1rem;
}

ul {
    list-style: none; 
    margin: 0;  
    padding: 0;
    text-align: center;
    margin-top: 10vh;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

a:hover {
    color: #006A76;
}

.link1 {
    margin-right: 5vw;
}

.link2 {
    margin-left: 5vw;
}